body {
  margin: 0;
  --cblack: #000000;
  --cgrey: #3b3b3b;

}

::-webkit-scrollbar {
  display: none;
}

.main {
  height: 100vh;
  overflow-y: scroll;
}
.recomendation-section {
  flex-direction: column;
  display: flex;
  width: 78%;
  margin: 2rem 10%;
}
.recomendation-section > section {
  display: flex;
  gap: 2%;
}
.recomendation-section > section > div{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}
.rec-button[data-height="2"] {
  min-height: 16.5rem!important;
}

.rec-button {
  position: relative;
  background-color: var(--cgrey);
  transform: skew(10px);
}

.span-container {
  position: absolute;
  top: 10%;
  right: 10%;
}

.button-span {
  background-color: transparent;
}

.rec-span {
  display: none;
}

.rec-span.expanded {
  display: block;
  position: absolute;
}

.input-zone {
  position: sticky;
  top: 0;
  z-index: 1;
}

.input {
  display: flex;
  max-width: 78%;
  margin:40px 10%;
  padding: 10px 0;
}

.input > form {
  display: flex;
  width: 100%;
}
.input > form > div {
  width: 100%;
  display: flex;
  border-radius: 7px;
  backdrop-filter: blur(5px);
  border: 1px solid;
  background: #ffffff66;
  position: relative;
}
#search-input {
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  font-size: 1.2rem;
  border: none;
}
.dictaphone {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.dictaphone > button {
  height: 100%;
}
.search-button {
  background-color: transparent;
}

/**/

.back-pop {
  position: fixed;
  backdrop-filter: blur(1px);
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop {
  background-color: var(--cblack);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .pop {
    width: 85vw;
    padding: 2rem 0;
  }

  .recomendation-section {
    grid-template-columns: 49% 49%;
    gap: 2%;
    width: 95%;
    margin: 2rem 2.5%;
  }
  .input {
    max-width: 95%;
    margin: 40px 2.5%;
  }
}

/***/

.recording {
  color: red
}